<connectionStrings>
  <add name="lab" connectionString="Data Source=ITDEVEL-LT;Initial Catalog=mesdb;Integrated Security=True;Connection Timeout=120" providerName="System.Data.SqlClient" />
  <add name="tag" connectionString="Data Source=ITDEVEL-LT;Initial Catalog=taglogs;Integrated Security=True;Connection Timeout=120" providerName="System.Data.SqlClient" />
</connectionStrings>