@{
    ViewBag.Title = "NCIMES Home Page";
}

<div class="jumbotron">
    <h1>NCIMES</h1>
    <p class="lead">Nitta Casings Inc -- Manufacturing Execution System</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Historian</h2>
        <p>
            See Menu for reports.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Status</h2>
        <p>Graphical Desktop of current manufacturing status</p>
    </div>
    <div class="col-md-4">
        <h2>Control</h2>
        <p>Make changes to settings</p>
    </div>
</div>