@model Test.Models.LineTimeLine

<section class="cd-horizontal-timeline">
    <div class="timeline">
        <div class="events-wrapper">
            <div class="events">
                <ol>
                    @Html.DisplayFor(m => m.times)
                </ol>
                <span class="filling-line" aria-hidden="true"></span>
            </div> <!-- .events -->
        </div> <!-- .events-wrapper -->

        <ul class="cd-timeline-navigation">
            <li><a href="#0" class="prev inactive">Prev</a></li>
            <li><a href="#0" class="next">Next</a></li>
        </ul> <!-- .cd-timeline-navigation -->
    </div> <!-- .timeline -->
    <div class="events-content">
        <ol>
            @Html.DisplayFor(m => m.events)
        </ol>
    </div> <!-- .events-content -->
</section>
