@model List<Test.Models.Line>

@{
    var width = Model.Count / Model.Select(s => s.LineNumber).Distinct().Count();
}

@for (int i=0; i < Model.Count/width; i++)
{
    <tr>
        <td>@(i + 1)</td>
        @foreach (var ls in Model.Skip(i * width).Take(width)) {
            <td data-id="@ls.LineId" class="sys-@ls.SystemId">
                <button class="btn btn-@ls.status.Color sys-@ls.SystemId" data-id="@ls.LineId">
                    <i class="fa fa-@ls.status.Icon"></i> @ls.product._ProductCode</button>
            </td>
        }        
    </tr>
}