@model Test.Models.Unit

<div class="row">
    <br />
    <button class="btn btn-success btn-lg" data-id="@Model.UnitId">
        <i class="fa fa-sitemap"></i> Unit @Model._Unit
    </button><br />
</div>

