<div class="panel">
    <div class="row">
        <div id="bc" class="col-lg-6">
        </div>
    </div>
</div>
@section scripts {
    <script type="text/javascript">
        $("#bc").barcode("1234567890128", "code39");
    </script>
}