@model Test.Models.CasingGroups
<div class="container">
    <br />
    <table id="cgroups" class="table table-striped table-hover table-condensed table-bordered">
        <thead>
            <tr><th colspan="2">
                <button class="btn btn-success btn-xs" id="addgroup">
                    <i class="fa fa-plus"></i> Add New Group
                </button>
                </th>
            </tr>
            <tr>
                <th>ID</th>
                <th>DateTime</th>
            </tr>
        </thead>
        <tbody>
            @Html.DisplayFor(m => m.list)
        </tbody>
    </table>
</div>

@section scripts {
    <script type="text/javascript">
    function attachDT() {
        q = $('#cgroups').dataTable({
            "sDom": "<'row'<'col-xs-6'f><'col-xs-6'i>>t",
            "order": [[2, "asc"]],
            "bPaginate": false,
            "oLanguage": {
                "sInfo": "_TOTAL_ test(s)",
                "sInfoFiltered": "(of _MAX_ unfiltered)",
                "sProcessing": "<i class='fa fa-spinner fa-spin'></i>"
            },
            "aoColumnDefs": [
                { "bVisible": false }
            ],
            fixedHeader: {
                headerOffset: 50
            }
        });
    }
    $(function () {
        //attachDT();
        $('#cgroups tbody').on('click', 'tr', function () {
            var id = $(this).data('id');
            id = (id != '' && typeof id !== 'undefined') ? id : -bid;
            location.href = '@Url.Action("CasingTests", "Home", null, Request.Url.Scheme)/' + id;
        });
        $('#addgroup').on('click', function () {
            console.log('add');
            location.href = '@Url.Action("CasingTests","Home",null,Request.Url.Scheme)/0' ;
        });
    });
    </script>
}
