@{
    ViewBag.Title = "Combo CMC Charts";
}

<div class="row no-gutter">
    <div class="col-md-6" id="window">
    </div>
    <div class="col-md-6" id="screen">
    </div>
</div>

<div class="row no-gutter">
    <div class="col-md-4">
        <a href="~/Content/Slides/1_ComboCMC.png" class="thumbnail">
            <img class="img-responsive" src="~/Content/Slides/1_ComboCMC.png" />
        </a>
    </div>
    <div class="col-md-4">
        <a href="~/Content/Slides/5_ComboCMC.png" class="thumbnail">
            <img class="img-responsive" src="~/Content/Slides/5_ComboCMC.png" />
        </a>
    </div>
    <div class="col-md-4">
        <a href="~/Content/Slides/8_ComboCMC.png" class="thumbnail">
            <img class="img-responsive" src="~/Content/Slides/8_ComboCMC.png" />
        </a>
    </div>
</div>
<div class="row no-gutter">
    <div class="col-md-4">
        <a href="~/Content/Slides/2_ComboCMC.png" class="thumbnail">
            <img class="img-responsive" src="~/Content/Slides/2_ComboCMC.png" />
        </a>
    </div>
    <div class="col-md-4">
        <a href="~/Content/Slides/6_ComboCMC.png" class="thumbnail">
            <img class="img-responsive" src="~/Content/Slides/6_ComboCMC.png" />
        </a>
    </div>
    <div class="col-md-4">
        @*<a href="~/Content/Slides/2_ComboCMC.png" class="thumbnail">
                <img class="img-responsive" src="~/Content/Slides/2_ComboCMC.png" />
            </a>*@
    </div>
</div>
<div class="row no-gutter">
    <div class="col-md-4">
        <a href="~/Content/Slides/4_ComboCMC.png" class="thumbnail">
            <img class="img-responsive" src="~/Content/Slides/4_ComboCMC.png" />
        </a>
    </div>
    <div class="col-md-4">
        <a href="~/Content/Slides/7_ComboCMC.png" class="thumbnail">
            <img class="img-responsive" src="~/Content/Slides/7_ComboCMC.png" />
        </a>
    </div>
    <div class="col-md-4">
        @*<a href="~/Content/Slides/2_ComboCMC.png" class="thumbnail">
                <img class="img-responsive" src="~/Content/Slides/2_ComboCMC.png" />
            </a>*@
    </div>
</div>

    @section scripts{
        <script type="text/javascript">
            $(function () {
                var rhub = $.connection.refreshHub;
                rhub.client.refresh = function () {
                    location.reload(true);
                };
                $.connection.hub.start().done(function () {
                    rhub.server.register("Deck");
                });
                $.connection.hub.disconnected(function () {
                    setTimeout(function () {
                        $.connection.hub.start();
                    }, 1000); // Re-start connection after 1 second
                });

                $('#screen').html('screen w: ' + screen.width + ', h: ' + screen.height);
                $('#window').html('window w: ' + $(window).width() + ', h: ' + $(window).height());
            });
        </script>
    }
