@{
    ViewBag.Title = "Combo CMC Charts";
    Layout = "~/Views/Shared/_Fullscreen.cshtml";
}

<div class="row no-gutter">
    <div class="col-md-4">
        <a href="~/Content/Slides/1_ComboCMC.png" class="thumbnail">
            <img class="img-responsive"
                 src="~/Content/Slides/1_ComboCMC_thumb.png"
                 onError="this.onerror = null; this.src = '/Content/Slides/1t.png';" 
                 />
        </a>
    </div>
    <div class="col-md-4">
        <a href="~/Content/Slides/5_ComboCMC.png" class="thumbnail">
            <img class="img-responsive" 
                 src="~/Content/Slides/5_ComboCMC_thumb.png" 
                 onError="this.onerror = null; this.src = '/Content/Slides/5t.png';"                  
                 />
        </a>
    </div>
    <div class="col-md-4">
        <a href="~/Content/Slides/8_ComboCMC.png" class="thumbnail">
            <img class="img-responsive" 
                 src="~/Content/Slides/8_ComboCMC_thumb.png" 
                 onError="this.onerror = null; this.src = '/Content/Slides/8t.png';" 
                />
        </a>
    </div>
</div>
<div class="row no-gutter">
    <div class="col-md-4">
        <a href="~/Content/Slides/2_ComboCMC.png" class="thumbnail">
            <img class="img-responsive" 
                 src="~/Content/Slides/2_ComboCMC_thumb.png" 
                 onError="this.onerror = null; this.src = '/Content/Slides/2t.png';"
                 />
        </a>
    </div>
    <div class="col-md-4">
        <a href="~/Content/Slides/6_ComboCMC.png" class="thumbnail">
            <img class="img-responsive"
                 src="~/Content/Slides/6_ComboCMC_thumb.png"
                 onError="this.onerror = null; this.src = '/Content/Slides/6t.png';" />
        </a>
</div>
    <div class="col-md-4">
        @*<a href="~/Content/Slides/2_ComboCMC.png" class="thumbnail">
                <img class="img-responsive" src="~/Content/Slides/2_ComboCMC.png" />
            </a>*@
    </div>
</div>
<div class="row no-gutter">
    <div class="col-md-4">
        <a href="~/Content/Slides/4_ComboCMC.png" class="thumbnail">
            <img class="img-responsive" 
                 onError="this.onerror = null; this.src = '/Content/Slides/4t.png';" 
                 src="~/Content/Slides/4_ComboCMC_thumb.png" 
                 />
        </a>
    </div>
    <div class="col-md-4">
        <a href="~/Content/Slides/7_ComboCMC.png" class="thumbnail">
            <img class="img-responsive" 
                 onError="this.onerror = null; this.src = '/Content/Slides/7t.png';" 
                 src="~/Content/Slides/7_ComboCMC_thumb.png" 
                 />
        </a>
    </div>
    <div class="col-md-4">
        @*<a href="~/Content/Slides/2_ComboCMC.png" class="thumbnail">
                <img class="img-responsive" src="~/Content/Slides/2_ComboCMC.png" />
            </a>*@
    </div>
</div>

    @section scripts{
        <script type="text/javascript">
            function requestFullScreen(element) {
                // Supports most browsers and their versions.
                var requestMethod = element.requestFullScreen || element.webkitRequestFullScreen || element.mozRequestFullScreen || element.msRequestFullScreen;

                if (requestMethod) { // Native full screen.
                    requestMethod.call(element);
                } else if (typeof window.ActiveXObject !== "undefined") { // Older IE.
                    var wscript = new ActiveXObject("WScript.Shell");
                    if (wscript !== null) {
                        wscript.SendKeys("{F11}");
                    }
                }
            }

            $(function () {
                var rhub = $.connection.refreshHub;
                rhub.client.refresh = function () {
                    location.reload(true);
                };
                $.connection.hub.start().done(function () {
                    rhub.server.register("Deck");
                });
                $.connection.hub.disconnected(function () {
                    setTimeout(function () {
                        $.connection.hub.start();
                    }, 1000); // Re-start connection after 1 second
                });

                var elem = document.body; // Make the body go full screen.
                requestFullScreen(elem);
            });
        </script>
    }
