@{
    ViewBag.Title = "Combo CMC Charts";
}

<div class="row no-gutter">
    <div class="col-md-4">
        <a href="~/Content/Slides/1_ComboCMC.png" class="thumbnail">
            <img class="img-responsive" src="~/Content/Slides/1_ComboCMC.png" />
        </a>
    </div>
    <div class="col-md-4">
        <a href="~/Content/Slides/5_ComboCMC.png" class="thumbnail">
            <img class="img-responsive" src="~/Content/Slides/5_ComboCMC.png" />
        </a>
    </div>
    <div class="col-md-4">
        <a href="~/Content/Slides/8_ComboCMC.png" class="thumbnail">
            <img class="img-responsive" src="~/Content/Slides/8_ComboCMC.png" />
        </a>
    </div>
</div>
<div class="row no-gutter">
    <div class="col-md-4">
        <a href="~/Content/Slides/2_ComboCMC.png" class="thumbnail">
            <img class="img-responsive" src="~/Content/Slides/2_ComboCMC.png" />
        </a>
    </div>
    <div class="col-md-4">
        <a href="~/Content/Slides/6_ComboCMC.png" class="thumbnail">
            <img class="img-responsive" src="~/Content/Slides/6_ComboCMC.png" />
        </a>
    </div>
    <div class="col-md-4">
        @*<a href="~/Content/Slides/2_ComboCMC.png" class="thumbnail">
            <img class="img-responsive" src="~/Content/Slides/2_ComboCMC.png" />
        </a>*@
    </div>
</div>
<div class="row no-gutter">
    <div class="col-md-4">
        <a href="~/Content/Slides/4_ComboCMC.png" class="thumbnail">
            <img class="img-responsive" src="~/Content/Slides/4_ComboCMC.png" />
        </a>
    </div>
    <div class="col-md-4">
        <a href="~/Content/Slides/7_ComboCMC.png" class="thumbnail">
            <img class="img-responsive" src="~/Content/Slides/7_ComboCMC.png" />
        </a>
    </div>
    <div class="col-md-4">
        @*<a href="~/Content/Slides/2_ComboCMC.png" class="thumbnail">
            <img class="img-responsive" src="~/Content/Slides/2_ComboCMC.png" />
        </a>*@
    </div>
</div>
