@{
    ViewBag.Title = "PNG Charts";
}

<div class="row">
    <div class="col-md-1">
        <h3>System</h3>
    </div>
    <div class="col-md-2">
        <h3>CMC</h3>
    </div>
    <div class="col-md-2">
        <h3>Conductivity</h3>
    </div>
    <div class="col-md-2">
        <h3>Glyc(Soln,Csg) CMC</h3>
    </div>
    <div class="col-md-2">
        <h3>Glyc(Soln,Csg) Conduct.</h3>
    </div>
    <div class="col-md-2">
        <h3>Solution Glycerin</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-1">
        <h1>1</h1>
    </div>
    <div class="col-md-2">
        <a href="~/Content/Slides/1_CMC.png" class="thumbnail">
            <img class="img-responsive" src="~/Content/Slides/1_CMC.png" />
        </a>
    </div>
    <div class="col-md-2">
        <a href="~/Content/Slides/1_Cndct.png" class="thumbnail">
                <img class="img-responsive" src="~/Content/Slides/1_Cndct.png" />
            </a>
    </div>
    <div class="col-md-2">
        <a href="~/Content/Slides/1_ComboCMC.png" class="thumbnail">
        <img class="img-responsive" src="~/Content/Slides/1_ComboCMC.png" />
        </a>
    </div>
    <div class="col-md-2">
        <a href="~/Content/Slides/1_ComboCnd.png" class="thumbnail">
            <img class="img-responsive" src="~/Content/Slides/1_ComboCnd.png" />
        </a>
    </div>
    <div class="col-md-2">
        <a href="~/Content/Slides/1_SolnGlyc.png" class="thumbnail">
            <img class="img-responsive" src="~/Content/Slides/1_SolnGlyc.png" />
        </a>
    </div>
</div>

<div class="row">
    <div class="col-md-1">
        <h1>2</h1>
    </div>
    <div class="col-md-2">
        <a href="~/Content/Slides/2_CMC.png" class="thumbnail">
            <img class="img-responsive" src="~/Content/Slides/2_CMC.png" />
        </a>
    </div>
    <div class="col-md-2">
        <a href="~/Content/Slides/2_Cndct.png" class="thumbnail">
            <img class="img-responsive" src="~/Content/Slides/2_Cndct.png" />
        </a>
    </div>
    <div class="col-md-2">
        <a href="~/Content/Slides/2_ComboCMC.png" class="thumbnail">
            <img class="img-responsive" src="~/Content/Slides/2_ComboCMC.png" />
        </a>
    </div>
    <div class="col-md-2">
        <a href="~/Content/Slides/2_ComboCnd.png" class="thumbnail">
            <img class="img-responsive" src="~/Content/Slides/2_ComboCnd.png" />
        </a>
    </div>
    <div class="col-md-2">
        <a href="~/Content/Slides/2_SolnGlyc.png" class="thumbnail">
            <img class="img-responsive" src="~/Content/Slides/2_SolnGlyc.png" />
        </a>
</div>
</div>
<div class="row">
    <div class="col-md-1">
        <h1>4</h1>
    </div>
    <div class="col-md-2">
        <a href="~/Content/Slides/4_CMC.png" class="thumbnail">
            <img class="img-responsive" src="~/Content/Slides/4_CMC.png" />
        </a>
</div>
    <div class="col-md-2">
        <a href="~/Content/Slides/4_Cndct.png" class="thumbnail">
            <img class="img-responsive" src="~/Content/Slides/4_Cndct.png" />
        </a>
</div>
    <div class="col-md-2">
        <a href="~/Content/Slides/4_ComboCMC.png" class="thumbnail">
            <img class="img-responsive" src="~/Content/Slides/4_ComboCMC.png" />
        </a>
</div>
    <div class="col-md-2">
        <a href="~/Content/Slides/4_ComboCnd.png" class="thumbnail">
            <img class="img-responsive" src="~/Content/Slides/4_ComboCnd.png" />
        </a>
</div>
    <div class="col-md-2">
        <a href="~/Content/Slides/4_SolnGlyc.png" class="thumbnail">
            <img class="img-responsive" src="~/Content/Slides/4_SolnGlyc.png" />
        </a>
</div>
</div>
<div class="row">
    <div class="col-md-1">
        <h1>5</h1>
    </div>
    <div class="col-md-2">
        <a href="~/Content/Slides/5_CMC.png" class="thumbnail">
            <img class="img-responsive" src="~/Content/Slides/5_CMC.png" />
        </a>
</div>
    <div class="col-md-2">
        <a href="~/Content/Slides/5_Cndct.png" class="thumbnail">
            <img class="img-responsive" src="~/Content/Slides/5_Cndct.png" />
        </a>
</div>
    <div class="col-md-2">
        <a href="~/Content/Slides/5_ComboCMC.png" class="thumbnail">
            <img class="img-responsive" src="~/Content/Slides/5_ComboCMC.png" />
        </a>
</div>
    <div class="col-md-2">
        <a href="~/Content/Slides/5_ComboCnd.png" class="thumbnail">
            <img class="img-responsive" src="~/Content/Slides/5_ComboCnd.png" />
        </a>
</div>
    <div class="col-md-2">
        <a href="~/Content/Slides/5_SolnGlyc.png" class="thumbnail">
            <img class="img-responsive" src="~/Content/Slides/5_SolnGlyc.png" />
        </a>
</div>
</div>
<div class="row">
    <div class="col-md-1">
        <h1>6</h1>
    </div>
    <div class="col-md-2">
        <a href="~/Content/Slides/6_CMC.png" class="thumbnail">
            <img class="img-responsive" src="~/Content/Slides/6_CMC.png" />
        </a>
    </div>
    <div class="col-md-2">
        <a href="~/Content/Slides/6_Cndct.png" class="thumbnail">
            <img class="img-responsive" src="~/Content/Slides/6_Cndct.png" />
        </a>
    </div>
    <div class="col-md-2">
        <a href="~/Content/Slides/6_ComboCMC.png" class="thumbnail">
            <img class="img-responsive" src="~/Content/Slides/6_ComboCMC.png" />
        </a>
    </div>
    <div class="col-md-2">
        <a href="~/Content/Slides/6_ComboCnd.png" class="thumbnail">
            <img class="img-responsive" src="~/Content/Slides/6_ComboCnd.png" />
        </a>
    </div>
    <div class="col-md-2">
        <a href="~/Content/Slides/6_SolnGlyc.png" class="thumbnail">
            <img class="img-responsive" src="~/Content/Slides/6_SolnGlyc.png" />
        </a>
    </div>
</div>
<div class="row">
    <div class="col-md-1">
        <h1>7</h1>
    </div>
    <div class="col-md-2">
        <a href="~/Content/Slides/7_CMC.png" class="thumbnail">
            <img class="img-responsive" src="~/Content/Slides/7_CMC.png" />
        </a>
    </div>
    <div class="col-md-2">
        <a href="~/Content/Slides/7_Cndct.png" class="thumbnail">
            <img class="img-responsive" src="~/Content/Slides/7_Cndct.png" />
        </a>
    </div>
    <div class="col-md-2">
        <a href="~/Content/Slides/7_ComboCMC.png" class="thumbnail">
            <img class="img-responsive" src="~/Content/Slides/7_ComboCMC.png" />
        </a>
    </div>
    <div class="col-md-2">
        <a href="~/Content/Slides/7_ComboCnd.png" class="thumbnail">
            <img class="img-responsive" src="~/Content/Slides/7_ComboCnd.png" />
        </a>
    </div>
    <div class="col-md-2">
        <a href="~/Content/Slides/7_SolnGlyc.png" class="thumbnail">
            <img class="img-responsive" src="~/Content/Slides/7_SolnGlyc.png" />
        </a>
    </div>
</div>
<div class="row">
    <div class="col-md-1">
        <h1>8</h1>
    </div>
    <div class="col-md-2">
        <a href="~/Content/Slides/8_CMC.png" class="thumbnail">
            <img class="img-responsive" src="~/Content/Slides/8_CMC.png" />
        </a>
    </div>
    <div class="col-md-2">
        <a href="~/Content/Slides/8_Cndct.png" class="thumbnail">
            <img class="img-responsive" src="~/Content/Slides/8_Cndct.png" />
        </a>
    </div>
    <div class="col-md-2">
        <a href="~/Content/Slides/8_ComboCMC.png" class="thumbnail">
            <img class="img-responsive" src="~/Content/Slides/8_ComboCMC.png" />
        </a>
    </div>
    <div class="col-md-2">
        <a href="~/Content/Slides/8_ComboCnd.png" class="thumbnail">
            <img class="img-responsive" src="~/Content/Slides/8_ComboCnd.png" />
        </a>
    </div>
    <div class="col-md-2">
        <a href="~/Content/Slides/8_SolnGlyc.png" class="thumbnail">
            <img class="img-responsive" src="~/Content/Slides/8_SolnGlyc.png" />
        </a>
    </div>
</div>
<div class="row">
    <div class="col-md-1">
        <h1>gr1</h1>
    </div>
    <div class="col-md-2">
        <a href="~/Content/Slides/10_CMC.png" class="thumbnail">
            <img class="img-responsive" src="~/Content/Slides/10_CMC.png" />
        </a>
    </div>
    <div class="col-md-2">
        <a href="~/Content/Slides/10_Cndct.png" class="thumbnail">
            <img class="img-responsive" src="~/Content/Slides/10_Cndct.png" />
        </a>
    </div>
    <div class="col-md-2">
        <a href="~/Content/Slides/10_ComboCMC.png" class="thumbnail">
            <img class="img-responsive" src="~/Content/Slides/10_ComboCMC.png" />
        </a>
    </div>
    <div class="col-md-2">
        <a href="~/Content/Slides/10_ComboCnd.png" class="thumbnail">
            <img class="img-responsive" src="~/Content/Slides/10_ComboCnd.png" />
        </a>
    </div>
    <div class="col-md-2">
        <a href="~/Content/Slides/10_SolnGlyc.png" class="thumbnail">
            <img class="img-responsive" src="~/Content/Slides/10_SolnGlyc.png" />
        </a>
    </div>
</div>
<div class="row">
    <div class="col-md-1">
        <h1>gr3</h1>
    </div>
    <div class="col-md-2">
        <a href="~/Content/Slides/12_CMC.png" class="thumbnail">
            <img class="img-responsive" src="~/Content/Slides/12_CMC.png" />
        </a>
    </div>
    <div class="col-md-2">
        <a href="~/Content/Slides/12_Cndct.png" class="thumbnail">
            <img class="img-responsive" src="~/Content/Slides/12_Cndct.png" />
        </a>
    </div>
    <div class="col-md-2">
        <a href="~/Content/Slides/12_ComboCMC.png" class="thumbnail">
            <img class="img-responsive" src="~/Content/Slides/12_ComboCMC.png" />
        </a>
    </div>
    <div class="col-md-2">
        <a href="~/Content/Slides/12_ComboCnd.png" class="thumbnail">
            <img class="img-responsive" src="~/Content/Slides/12_ComboCnd.png" />
        </a>
    </div>
    <div class="col-md-2">
        <a href="~/Content/Slides/12_SolnGlyc.png" class="thumbnail">
            <img class="img-responsive" src="~/Content/Slides/12_SolnGlyc.png" />
        </a>
    </div>
</div>
