<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Poster.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appSettings>
    <add key="uploadto" value="C:\\ra\\TestData"/>
    <add key="uploadfrom" value="C:\\Users\\Nitta\\Desktop"/>
  </appSettings>
  <userSettings>
    <Poster.Properties.Settings>
      <setting name="recent" serializeAs="String">
        <value />
      </setting>
      <setting name="uploadto" serializeAs="String">
        <value>http://mfg/Home/UploadCasings</value>
      </setting>
      <setting name="uploadfrom" serializeAs="String">
        <value>C:\Users\Nitta\Desktop</value>
      </setting>
    </Poster.Properties.Settings>
  </userSettings>
</configuration>