<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <userSettings>
    <Poster.Properties.Settings>
      <setting name="recent" serializeAs="String">
        <value />
      </setting>
      <setting name="uploadto" serializeAs="String">
        <value xdt:Transform="Replace">
          http://localhost:49458/Home/UploadCasings
        </value>
      </setting>
      <setting name="uploadfrom" serializeAs="String">
        <value xdt:Transform="Replace">
          \\netfdomain\root\QDLS\PSLAB\2016
        </value>
      </setting>
    </Poster.Properties.Settings>
  </userSettings>
</configuration>