body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.navbar-inverse .brand, .navbar-inverse .nav > li > a {
    color: darkgray;
}

.navbar-inverse .brand, .navbar-inverse .nav > li > a:hover {
    color: white;
}

.navbar-inverse .brand, .navbar-inverse .nav > li.active > a,
.navbar-inverse .brand, .navbar-inverse .nav > li.active > a:hover,
.navbar-inverse .brand, .navbar-inverse .nav > li.active > a:focus
 {
    color: orange;
}

.time-context {
    background-color: lightblue;
}

.time-hilite {
    font-weight: bold;
    color: orangered;
}
span.happened {
    color: darkblue;
}
tr.happened td {
    color: darkblue;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

div.alert {
    margin: 15px 0 0 15px;
}

#group_TimeStamp {
    max-width: 68px;
    margin-left: 2px;
    margin-bottom: 1px;
}
#group_TimeOnly {
    max-width: 200px;
    margin-left: 2px;
    margin-bottom: 1px;
}

select#recode.popup.form-control {
    min-width: 550px;
}
 
select#line_ProductCodeId {
    min-width: 550px;
}

input#note.form-control.popup {
    max-width: 100%;
}

#bc {
    height: 100px;
}

.table > tbody > tr.txcurrent td {
    border-bottom: 1px solid red;
}

tr.headers th {
    text-align: center;
    font-weight: normal;
    font-size: x-small;
}

#grouptimestamp {
    padding: 0;
}
#grouptimestamp div.form-group {
    margin: 0;
}

.table-condensed tbody tr.linetestrow td {
    padding: 0;
}

.table-no-border>thead>tr>th, 
.table-no-border>tbody>tr>th, 
.table-no-border>tfoot>tr>th, 
.table-no-border>thead>tr>td, 
.table-no-border>tbody>tr>td, 
.table-no-border>tfoot>tr>td {
  border-top: none; 
  padding: 0 1px;
}
.casingsample.table-no-border>tbody>tr>td {
    padding: 0;
}
.casingsample.table-no-border>tbody>tr>td>input.n2 {
    width: 25px;
}
.casingsample.table-no-border>tbody>tr>td>input.n5 {
    width: 50px;
}
.casingsample.table-no-border>tbody>tr>td>input.note {
    width: 100px;
}
.casingsample.table-no-border>tbody>tr>td.product {
    width: 90px;
    padding-left: 2px;
}
.casingsample.table-no-border>tbody>tr>td.product>button.sampled {
    padding: 0;
}
.casingsample.table-no-border > tbody > tr > td.product.lineup {
    color: green;
}
.casingsample.table-no-border > tbody > tr > td.product.linedown {
    color: red;
}
i.noter {
    margin-top: 3px;
    margin-left: 8px;
}
.casingsample.table-no-border > tbody > tr > td.product {
    text-wrap:none;
}
.casingsample.table-no-border > tbody > tr > td.lineadd > i.fa {
    visibility: hidden;
}
.casingsample.table-no-border > tbody > tr:hover > td.lineadd > i.fa {
    visibility:visible;
}
input#Tech.tech.form-control {
    width: 50px;
}
#upload {
    position: relative;
    overflow: hidden;
}
#upload input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: 1px solid red;
    background: white;
    cursor: inherit;
    display: block;
}
.table-no-border>thead>tr>th {
    width: 20px;
    text-align:center;
    font-size:10px;
    font-weight: lighter;
}

.form-inline .form-group > input.rdg, 
.form-inline .form-group > input.avg {
    width: 70px;
}

#stestform input.form-control{
    width: 70px;
}

#stestform input#t_DateTime {
    width: 150px;
}

#ttestform input.read {
    width: 80px;
}

#ttestform input.stamp {
    width: 200px;
}

#ttestform input.tech {
    width: 70px;
}

#ttestform input[disabled="disabled"] {
    width: 80px;
}

tr.casingsample td input.form-control {
    padding: 0;
    height: 22px;
    text-align: right;
    max-width: 190px;
}

#sbatchform div.radio.checkbox-inline {
    padding: 0;
    margin: 3px;
}

.casingsample.table-no-border>tbody>tr>td.labresult {
    padding-top: 1px;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid grey;
}

.casingsample.table-no-border > tbody > tr > td.product {
    overflow:visible;
}

.casingsample.table-no-border > tbody > tr > td.oocontrol {
    background-color: yellow;
    color: black;
}
.casingsample.table-no-border > tbody > tr > td.oospec {
    background-color: red;
    color: white;
}
.casingsample.table-no-border > tbody > tr.oocontrol {
    background-color: lightgoldenrodyellow;
}
.casingsample.table-no-border > tbody > tr.oospec {
    background-color: #fff0f2;
}
input#recode {
    width: 300px;
}
#productspectable input {
    padding: 3px 6px;
    min-width: 50px;
}
#productspectable label {
    width: 0;
    padding: 0;
    margin: 0;
}
#productspectable div.form-group {
    margin-bottom: 0;
}
form#casingup button#upload {
    margin-right: 7px;
}

#contextform {
    padding: 0;
    margin: 0;
}

#contextform div input {
    margin: -2px 8px 0px 3px;
    padding: 1px;
    line-height: 22px;
    height: 22px;
    width: 120px;
    font-size: larger;
    font-weight: bold;
}

#contextform i {
    cursor: pointer;
}

h2.detailctx i {
    cursor: pointer;
}

i.ctx {
    cursor: pointer;
}

.ctxcnt {
    white-space: nowrap;
    font-size: x-large;
}

.tooltip.bottom .tooltip-inner {
    text-align: left;
    background-color:green;
}
.tooltip.bottom .tooltip-arrow {
      border-bottom-color:green;
}

.plancmt {
    font-variant: small-caps;
    font-size: 8pt;
}

/* d3 css */

.chart {
    shape-rendering: crispEdges;
}

.mini text {
    font: 9px sans-serif;
}

.main text {
    font: 12px sans-serif;
}

.month text {
    text-anchor: start;
}

.todayLine {
    stroke: blue;
    stroke-width: 1.5;
}

.axis line, .axis path {
    stroke: black;
    fill: none;
    shape-rendering: crispEdges;
}

.dataline {
    stroke: blue;
    shape-rendering: crispEdges;
    fill: none;
}

.miniItem {
    stroke-width: 6;
}

.future {
    stroke: gray;
    fill: #ddd;
}

.past {
    stroke: green;
    fill: lightgreen;
}

.chosen {
    stroke: blue;
    fill: green;
}

.brush .extent {
    stroke: gray;
    fill: blue;
    fill-opacity: .165;
}

.lot {
    stroke-width: 2;
    stroke: magenta;
    fill: magenta;
    fill-opacity: .5;
}

.miniItem.lot {
    stroke-width: 20;
}

.loading {
    stroke: orange;
}

.trace {
    stroke-width: 4;
}

.belowspec, .abovespec {
    stroke: red;
}

.belowctl, .abovectl {
    stroke: yellow;
}

.inrange {
    stroke: lime;
}

/* d3 button */

.button rect {
  stroke: #1f628d;
  stroke-width: 2px;
}

.button #gradient-start {
/*  stop-color: #3498db; */
  stop-color: #4d9fb6; /* 70% */
  stop-opacity: 1;
}

.button #gradient-stop {
/*  stop-color: #2980b9; */
  stop-color: #1a84a2; /* 100% */
  stop-opacity: 1;
}

.button #gradient-start.active {
/*  stop-color: #3cb0fd; */
  stop-color: #99c8d5; /* 40% */
}

.button #gradient-stop.active {
/*  stop-color: #3498db; */
  stop-color: #4d9fb6; /* 70% */
}

.button text {
  font-size: 9px;
  fill: #eee;
  pointer-events: none;
  text-anchor: middle;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.laneText {
    font-size: 12px;
    cursor: pointer;
}