@model Tags.Models.Review

<tr data-id="@Model.ReviewId">
    <td>@Model.Name</td>
    <td>@Model.Schedule</td>
    <td><button class="btn btn-primary btn-xs reviewdel"><i class="fa fa-remove"></i></button></td>
</tr>