@model Tags.Models.Review

<tr data-id="@Model.ReviewId" data-schedule="@Model.Schedule" class="reviewrow" id='review_@Model.ReviewId'>
    <td class="reviewname">@Model.Name</td>
    <td>@Model.descriptor</td>
    <td><button class="btn btn-primary btn-xs reviewdel"><i class="fa fa-remove"></i></button></td>
</tr>