@model Tags.Models.Review

<tr data-id="@Model.ReviewId">
    <td>@Model.Name</td>
    <td>@Model.Schedule</td>
    <td>
    <button class='btn btn-danger btn-xs reviewdel view{0}' data-id='{0}' data-reviewid='@Model.ReviewId'>
        <i class='fa fa-remove'></i>
    </button>
    </td>
</tr>