@model Tags.Models.User

<tr data-id="@Model.UserId">
    <td>@Model.Login</td>
    <td>@Model.Identity</td>
    <td><button class="btn btn-primary btn-xs"><i class="fa fa-ticket"></i> Access</button></td>
</tr>