@model Test.Models.Lines

@{
    ViewBag.Title = "Current Line Load";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-xs-12 text-primary"><h3>Line Assignment</h3></div>
    </div>
    <div class="row-fluid">
        <div class="col-md-10 col-md-offset-1" id="lanes"></div>
    </div>
    <div class="row-fluid">
        <div class="col-md-3">
            @Html.DisplayFor(m => m.systems)
            <br />
            @Html.Bootstrap().Button().Text("Line History").Id("history")
        </div>
        <div class="col-md-5">
            <table class="table table-condensed table-responsive" id="linetable">
                <thead><tr>
                    <th>Line/Unit</th>
                    <th>A</th>
                    <th>B</th>
                    <th>C</th>
                    <th>D</th>
                </tr></thead>
                <tbody>
                    @Html.DisplayFor(m=>m.lines, "LineRow")
                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/d3/d3.v2.js" type="text/javascript"></script>
    <script src="~/Scripts/memlane.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $('#history').on('click', function (e) {
                e.preventDefault();
                console.log('calling history');
                alllines('#lanes');
            });
            $('button.sys-').on('click', function () {
                var id = $(this).data('id');
                location.href = '@Url.Action("Line","Control",null,Request.Url.Scheme)/' + JSON.stringify(id);
            });
        });
    </script>
}


