@model Test.Models.Products

@{ 
    var all = string.IsNullOrWhiteSpace(Model.Product);
    ViewBag.Product = Model.Product;
}

<div class="container">
    <br />
    <table id="products" class="table table-striped table-hover table-condensed table-bordered">
        <thead>
            <tr>
                <th colspan="2">List of Products@(all?"":(" having Code "+Model.Product))</th>
                <th colspan="2">
                    <button class="btn btn-success btn-xs" id="addproduct">
                        <i class="fa fa-plus"></i> <i class="fa fa-gift"></i> Add New Product
                    </button>
                </th>
                <th colspan="3">Moisture</th>
                <th colspan="3">Glycerin</th>
                <th colspan="3">Oil</th>
                <th colspan="5">LayFlat</th>
            </tr>
            <tr>
                <th>ProductCode</th>
                <th>Spec</th>
                <th><i class='fa fa-ban' title='is inactive'></i></th>
                <th>Line</th>
                <th>Min</th>
                <th>Aim</th>
                <th>Max</th>
                <th>Min</th>
                <th>Aim</th>
                <th>Max</th>
                <th>Min</th>
                <th>Aim</th>
                <th>Max</th>
                <th>Min</th>
                <th>LCL</th>
                <th>Aim</th>
                <th>UCL</th>
                <th>Max</th>
            </tr>
        </thead>
        <tbody>
            @Html.DisplayFor(m => m.products)
        </tbody>
    </table>
</div>

@section scripts {
    <script type="text/javascript">
    function attachDT() {
        q = $('#products').dataTable({
            "sDom": "<'row'<'col-xs-6'f><'col-xs-6'i>>t",
            "oSearch": { "sSearch": "current" },
            "order": [[0, "asc"]],
            "bPaginate": false,
            "oLanguage": {
                "sInfo": "_TOTAL_ product(s)",
                "sInfoFiltered": "(of _MAX_ unfiltered)",
                "sProcessing": "<i class='fa fa-spinner fa-spin'></i>"
            },
            fixedHeader: {
                headerOffset: 50
            }
        });
    }
    $(function () {
        $('#products tbody').on('click', 'tr', function (e) {
            var id = $(this).data('id');
            location.href = '@Url.Action("Product", "Control", null, Request.Url.Scheme)/' + id;
        });
        $('#addproduct').on('click', function () {
            location.href = '@Url.Action("Product", "Control", null, Request.Url.Scheme)/0';
        });
        @(all?"attachDT();":"")
        $('i.ctx').on('click', function (e) {
            e.stopPropagation();

            var row = $(this).closest('tr');
            var id = row.data('id');
            var prd = row.data('name');

            $('input#Context_Product').val(prd);
            $('input#Context_ProductCodeId').val(id);
        });
    });
</script>
}
