@model Test.Models.Conversions

<div class="container">
    <br />
    <div class="row">
        <div class="col-xs-12 text-primary"><h3>Undo Conversion</h3></div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <table id="recentconversions" class="table table-striped table-hover table-condensed table-bordered">
                <thead>
                    <tr>
                        <th colspan="7">List of Recent Conversions <i>click row</i></th>
                        <th colspan="4">
                            <button class="btn btn-danger btn-xs" id="cancelundoconversion">
                                <i class="fa fa-close"></i> Cancel undo selection
                            </button>
                        </th>
                    </tr>
                    <tr>
                        <th>Line</th>
                        <th>Scheduled</th>
                        <th>Started</th>
                        <th>Completed</th>
                        <th>Product</th>
                        <th>Extruder</th>
                        <th>Reqd Ft</th>
                        <th>Sys</th>
                        <th>Soln</th>
                        <th>State</th>
                    </tr>
                </thead>
                <tbody>
                    @Html.DisplayFor(m => m.conversions)
                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts {
<script type="text/javascript">
    $(function () {
        $('#recentconversions tbody').on('click', 'tr', function () {
            var id = $(this).closest('tr').data('id');
            location.href = '@Url.Action("ConfirmUndoConversion","Control",null,Request.Url.Scheme)/' + id;
        });
        $('#cancelundoconversion').on('click', function () {
            location.href = '@Url.Action("Conversions","Control",null,Request.Url.Scheme)';
        });
    });
</script>
}
