USE [mesdb]
GO
/****** Object:  Table [dbo].[ProductCode]    Script Date: 10/15/2015 10:19:24 AM ******/
DROP TABLE [dbo].[ProductCode]
GO
/****** Object:  Table [dbo].[LineStatus]    Script Date: 10/15/2015 10:19:24 AM ******/
DROP TABLE [dbo].[LineStatus]
GO
/****** Object:  Table [dbo].[LineOperation]    Script Date: 10/15/2015 10:19:24 AM ******/
DROP TABLE [dbo].[LineOperation]
GO
/****** Object:  Table [dbo].[LineLoad Query]    Script Date: 10/15/2015 10:19:24 AM ******/
DROP TABLE [dbo].[LineLoad Query]
GO
/****** Object:  Table [dbo].[LineLoad Query]    Script Date: 10/15/2015 10:19:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LineLoad Query](
	[System] [smallint] NULL,
	[Unit] [nvarchar](1) NULL,
	[Color] [nvarchar](45) NULL,
	[Expr1003] [nvarchar](255) NULL,
	[Blow @shirr (Min)] [nvarchar](255) NULL,
	[Expr1005] [nvarchar](255) NULL,
	[Line] [smallint] NULL,
	[Status] [nvarchar](8) NULL,
	[Blow @shirr (Max)] [nvarchar](255) NULL,
	[Blow @shirr (Aim)] [nvarchar](255) NULL,
	[PCode] [nvarchar](6) NULL,
	[Plast Spec] [nvarchar](5) NULL,
	[Spec] [nvarchar](6) NULL,
	[Glut_Aim] [float] NULL,
	[ShirrMoist_Min] [float] NULL,
	[ShirrMoist_Aim] [float] NULL,
	[ShirrMoist_Max] [float] NULL,
	[ReelMoist_Min] [float] NULL,
	[ReelMoist_Aim] [float] NULL,
	[ReelMoist_Max] [float] NULL,
	[Gly_Min] [float] NULL,
	[Gly_Aim] [float] NULL,
	[Gly_Max] [float] NULL,
	[Oil_Min] [float] NULL,
	[Oil_Aim] [float] NULL,
	[Oil_Max] [float] NULL,
	[DryTens_shirr_Min] [float] NULL,
	[DT LCL] [real] NULL,
	[Wet L/F (Aim)] [float] NULL,
	[Wet L/F (Min)] [float] NULL,
	[Wet L/F (Max)] [float] NULL,
	[LF_Min] [real] NULL,
	[LF_Aim] [float] NULL,
	[LF_Max] [real] NULL,
	[LF at shirr-Aim] [float] NULL,
	[LF at shirr-Min] [float] NULL,
	[LF at shirr-Max] [float] NULL,
	[LF at shirr-LCL] [float] NULL,
	[LF at shirr-UCL] [float] NULL,
	[LF_LCL] [real] NULL,
	[LF_UCL] [real] NULL,
	[FFW_Aim] [float] NULL,
	[FFW_Min] [float] NULL,
	[FFW_Max] [float] NULL,
	[CasingWt_Aim] [float] NULL,
	[CasingWt_Min] [float] NULL,
	[CasingWt_Max] [float] NULL,
	[Sticker] [bit] NULL,
	[At shirr unshirr force (max)] [nvarchar](50) NULL,
	[At shirr unshirr force (avg)] [nvarchar](50) NULL,
	[Wet Tens (Min)] [nvarchar](255) NULL,
	[Oil Type] [nvarchar](255) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LineOperation]    Script Date: 10/15/2015 10:19:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LineOperation](
	[INDAY] [decimal](5, 0) NOT NULL,
	[INUNIT] [varchar](1) NOT NULL,
	[INLINE] [decimal](1, 0) NOT NULL,
	[INSHFT] [decimal](1, 0) NOT NULL,
	[STCODE] [varchar](1) NOT NULL,
	[INTIME] [decimal](4, 0) NOT NULL,
	[RSCODE] [varchar](2) NOT NULL,
	[INPRD] [varchar](6) NOT NULL,
	[stamp] [datetime] NULL,
	[LineId] [int] NOT NULL,
	[ProductCodeId] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING ON
GO
/****** Object:  Table [dbo].[LineStatus]    Script Date: 10/15/2015 10:19:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LineStatus](
	[INUNT] [varchar](1) NOT NULL,
	[INLIN] [varchar](1) NOT NULL,
	[INDAY] [numeric](4, 0) NOT NULL,
	[INPRD] [varchar](6) NOT NULL,
	[CARTN] [varchar](4) NOT NULL,
	[INSID] [varchar](4) NOT NULL,
	[INLSQ] [numeric](3, 0) NOT NULL,
	[INLST] [varchar](16) NOT NULL,
	[INREL] [varchar](10) NOT NULL,
	[INBSP] [numeric](4, 0) NOT NULL,
	[INSAM] [numeric](3, 0) NOT NULL,
	[LineId] [int] NOT NULL,
	[Status] [char](1) NOT NULL,
	[Reason] [varchar](2) NOT NULL,
	[Stamp] [datetime] NOT NULL,
	[ProductCodeId] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING ON
GO
/****** Object:  Table [dbo].[ProductCode]    Script Date: 10/15/2015 10:19:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductCode](
	[ProductCodeId] [int] IDENTITY(1,1) NOT NULL,
	[ProductCode] [nvarchar](6) NULL,
	[ProductSpec] [nvarchar](6) NULL,
	[PlastSpec] [nvarchar](5) NULL,
	[WetLayflat_Aim] [float] NULL,
	[WetLayflat_Min] [float] NULL,
	[WetLayflat_Max] [float] NULL,
	[Glut_Aim] [float] NULL,
	[Glut_Max] [float] NULL,
	[Glut_Min] [float] NULL,
	[FFW_Aim] [float] NULL,
	[FFW_Min] [float] NULL,
	[FFW_Max] [float] NULL,
	[CasingWt_Aim] [float] NULL,
	[CasingWt_Min] [float] NULL,
	[CasingWt_Max] [float] NULL,
	[ShirrMoist_Aim] [float] NULL,
	[ShirrMoist_Min] [float] NULL,
	[ShirrMoist_Max] [float] NULL,
	[ReelMoist_Aim] [float] NULL,
	[ReelMoist_Min] [float] NULL,
	[ReelMoist_Max] [float] NULL,
	[LFShirr_Aim] [float] NULL,
	[LFShirr_Min] [float] NULL,
	[LFShirr_Max] [float] NULL,
	[LFShirr_LCL] [float] NULL,
	[LFShirr_UCL] [float] NULL,
	[LF_Aim] [float] NULL,
	[LF_Min] [real] NULL,
	[LF_Max] [real] NULL,
	[LF_LCL] [real] NULL,
	[LF_UCL] [real] NULL,
	[OilType] [nvarchar](255) NULL,
	[Oil_Aim] [float] NULL,
	[Oil_Min] [float] NULL,
	[Oil_Max] [float] NULL,
	[Gly_Aim] [float] NULL,
	[Gly_Min] [float] NULL,
	[Gly_Max] [float] NULL,
	[DryTensShirr_Min] [float] NULL,
	[Unshirr_Max] [nvarchar](50) NULL,
	[Unshirr_Avg] [nvarchar](50) NULL,
	[WetTens_Min] [nvarchar](255) NULL,
	[BlowShirr_Aim] [nvarchar](255) NULL,
	[BlowShirr_Min] [nvarchar](255) NULL,
	[BlowShirr_Max] [nvarchar](255) NULL,
	[DT_LCL] [real] NULL
) ON [PRIMARY]

GO

INSERT [dbo].[LineOperation] ([INDAY], [INUNIT], [INLINE], [INSHFT], [STCODE], [INTIME], [RSCODE], [INPRD], [stamp], [LineId], [ProductCodeId]) VALUES (CAST(25276 AS Decimal(5, 0)), N'D', CAST(3 AS Decimal(1, 0)), CAST(2 AS Decimal(1, 0)), N'U', CAST(830 AS Decimal(4, 0)), N'RP', N'26D14R', CAST(N'2015-10-03 08:30:00.000' AS DateTime), 27, NULL)
INSERT [dbo].[LineOperation] ([INDAY], [INUNIT], [INLINE], [INSHFT], [STCODE], [INTIME], [RSCODE], [INPRD], [stamp], [LineId], [ProductCodeId]) VALUES (CAST(25276 AS Decimal(5, 0)), N'D', CAST(4 AS Decimal(1, 0)), CAST(2 AS Decimal(1, 0)), N'U', CAST(830 AS Decimal(4, 0)), N'RP', N'28D28R', CAST(N'2015-10-03 08:30:00.000' AS DateTime), 28, NULL)
INSERT [dbo].[LineOperation] ([INDAY], [INUNIT], [INLINE], [INSHFT], [STCODE], [INTIME], [RSCODE], [INPRD], [stamp], [LineId], [ProductCodeId]) VALUES (CAST(25276 AS Decimal(5, 0)), N'D', CAST(5 AS Decimal(1, 0)), CAST(2 AS Decimal(1, 0)), N'U', CAST(830 AS Decimal(4, 0)), N'RP', N'26D14R', CAST(N'2015-10-03 08:30:00.000' AS DateTime), 29, NULL)
GO
INSERT [dbo].[LineStatus] ([INUNT], [INLIN], [INDAY], [INPRD], [CARTN], [INSID], [INLSQ], [INLST], [INREL], [INBSP], [INSAM], [LineId], [Status], [Reason], [Stamp], [ProductCodeId]) VALUES (N'A', N'1', CAST(5281 AS Numeric(4, 0)), N'19B37R', N'', N'I248', CAST(1 AS Numeric(3, 0)), N'B5277A100119B37R', N'', CAST(0 AS Numeric(4, 0)), CAST(0 AS Numeric(3, 0)), 1, N'D', N'DN', CAST(N'2015-10-04 07:00:00.000' AS DateTime), 525)
INSERT [dbo].[LineStatus] ([INUNT], [INLIN], [INDAY], [INPRD], [CARTN], [INSID], [INLSQ], [INLST], [INREL], [INBSP], [INSAM], [LineId], [Status], [Reason], [Stamp], [ProductCodeId]) VALUES (N'A', N'2', CAST(5281 AS Numeric(4, 0)), N'19B37R', N'', N'I248', CAST(1 AS Numeric(3, 0)), N'B5277A200119B37R', N'', CAST(0 AS Numeric(4, 0)), CAST(0 AS Numeric(3, 0)), 2, N'D', N'DN', CAST(N'2015-10-04 07:00:00.000' AS DateTime), 525)
INSERT [dbo].[LineStatus] ([INUNT], [INLIN], [INDAY], [INPRD], [CARTN], [INSID], [INLSQ], [INLST], [INREL], [INBSP], [INSAM], [LineId], [Status], [Reason], [Stamp], [ProductCodeId]) VALUES (N'A', N'3', CAST(5281 AS Numeric(4, 0)), N'16G41R', N'', N'I602', CAST(2 AS Numeric(3, 0)), N'B5281A300116G41R', N'', CAST(0 AS Numeric(4, 0)), CAST(0 AS Numeric(3, 0)), 3, N'D', N'DN', CAST(N'2015-10-08 06:13:00.000' AS DateTime), 711)
SET IDENTITY_INSERT [dbo].[ProductCode] ON 

GO
SET IDENTITY_INSERT [dbo].[ProductCode] OFF
