<connectionStrings>
  <!--<add name="timesheet" connectionString="Data Source=GUYLISTERC90F\DEV;Initial Catalog=timesheet;Integrated Security=True" providerName="System.Data.SqlClient" />-->
  <!--<add name="lab" connectionString="Data Source=STEINER-DT;Initial Catalog=mesdb;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False" providerName="System.Data.SqlClient" />-->
  <!--<add name="lab" connectionString="Data Source=STEINER-DT;Initial Catalog=mesdb;Integrated Security=False;User ID=guy;Password=guy2014;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False" providerName="System.Data.SqlClient" />-->
  <!--<add name="lab" connectionString="Data Source=STEINER-DT;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False" providerName="System.Data.SqlClient" />-->
  <!--<add name="lab" connectionString="Data Source=GUYLISTER3546;Initial Catalog=mesdb;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False" providerName="System.Data.SqlClient" />-->
  <add name="lab" connectionString="Data Source=NITTA-MFG01\NCIMES;Initial Catalog=mesdb;Integrated Security=False;User ID=webuser;Password=nc1m3s0k" providerName="System.Data.SqlClient" />
</connectionStrings>