<connectionStrings>
  <add name="tag" connectionString="Server=tcp:csidb.database.windows.net,1433;Initial Catalog=taglogs;Persist Security Info=False;User ID=csiazure@csidb;Password=Cs1azur3;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
  <add name="lab" connectionString="Server=tcp:csidb.database.windows.net,1433;Initial Catalog=mesdb;Persist Security Info=False;User ID=csiazure@csidb;Password=Cs1azur3;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
  <add name="cron" connectionString="Server=tcp:csidb.database.windows.net,1433;Initial Catalog=schedule;Persist Security Info=False;User ID=csiazure@csidb;Password=Cs1azur3;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
</connectionStrings>