<connectionStrings>
  <add name="tag" connectionString="Data Source=NITTA-MFG01\NCIMES;Initial Catalog=taglogs;Integrated Security=False;User ID=mesuser;Password=nc12m3s0k" providerName="System.Data.SqlClient" />
  <add name="lab" connectionString="Data Source=NITTA-MFG01\NCIMES;Initial Catalog=mesdb;Integrated Security=False;User ID=mesuser;Password=nc12m3s0k" providerName="System.Data.SqlClient" />
  <add name="cron" connectionString="Data Source=NITTA-MFG01\NCIMES;Initial Catalog=schedule;Integrated Security=False;User ID=mesuser;Password=nc12m3s0k" providerName="System.Data.SqlClient" />
</connectionStrings>