<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appSettings>
    <add key="graphjoboutdir" value="c:\JobTest" />
    <add key="graphjobtemplate" value="yyyy\MM_dd_yy" />
  </appSettings>
  <connectionStrings configSource="ConnectionStrings.config">
  </connectionStrings>
</configuration>