<connectionStrings>
  <add name="tag" connectionString="Data Source=GUYLISTER3546;Initial Catalog=taglogs;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False" providerName="System.Data.SqlClient" />
  <add name="lab" connectionString="Data Source=GUYLISTER3546;Initial Catalog=mesdb;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False" providerName="System.Data.SqlClient" />
</connectionStrings>